/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }